html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.page {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.logo {
  color: #212121;
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo, .logo-footer, .logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .logo, .logo-footer, .logo-web {
    font-size: 24px;
    line-height: 1.71;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}

.logo-web {
  color: #2196F3;
}

.logo-footer {
  display: inline-block;
  color: #ffffff;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*@include for-size(mobile) {
        width: 480px;        
    }

    @include for-size(tablet) {
        width: 768px;        
    }

    @include for-size(desktop) {
        width: 1200px;        
    } */
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  background-color: #2196F3;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
}

.btn__subscription {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /*width: 109px;
        height: 30px;*/
  width: 200px;
  height: 50px;
  margin-top: 20px;
  /*padding-left: 29px;
        margin-left: 12px; 
        margin-top: 36px;  */
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn__subscription .icon-send {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .backdrop {
    padding: 93px 15px 94px;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.8) translate(-50%, -50%);
          transform: scale(0.8) translate(-50%, -50%);
}

.modal {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .modal {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-icons__item .blue-circle-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icons__item .blue-circle-link .blue-circle-link .white-icon {
  fill: #ffffff;
}

.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: #2196F3;
}

.social__container {
  /*margin: 15px 0px 0px 70px;*/
}

.social__container__label {
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  /* &__work {
        padding-bottom: 94px;
    }*/
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  padding: 0;
  margin: 0;
  margin: 0px 0px 30px;
  /*margin: 0px 0px 50px;*/
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  /*font-size: 36px;
        line-height: 1.17;*/
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.header {
  position: relative;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross {
  fill: #2196F3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  background-color: #ffffff;
  text-align: center;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container .site-nav {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu-container .site-nav .link:hover,
.menu-container .site-nav .link:focus,
.menu-container .site-nav .link.current {
  color: #2196F3;
}

.menu-container .site-nav__link {
  display: block;
  position: relative;
  padding-bottom: 8px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .site-nav__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  bottom: -8px;
  left: 0;
}

.menu-container .site-nav__item:not(:first-child) {
  margin-top: 40px;
}

.menu-container .auth-nav {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.menu-container .auth-nav .auth-nav__item:not(:last-child) {
  margin-bottom: 16px;
}

.menu-container .auth-nav .auth-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-container .auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .auth-nav__link:hover .auth-nav__icon,
.menu-container .auth-nav__link:focus .auth-nav__icon {
  fill: #2196F3;
}

.menu-container .auth-nav__link:hover, .menu-container .auth-nav__link:focus {
  color: #2196F3;
}

.menu-container .auth-nav__icon {
  width: 10px;
  height: 16px;
  margin: 0px 10px 0px 0px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .auth-nav .mail-icon {
  width: 16px;
  height: 12px;
}

@media screen and (max-width: 767px) {
  .site-nav__container {
    display: none;
  }
}

.site-nav__container .site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .site-nav__container .site-nav {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.site-nav__container .site-nav .link:hover,
.site-nav__container .site-nav .link:focus,
.site-nav__container .site-nav .link.current {
  color: #2196F3;
}

.site-nav__container .site-nav__link {
  display: block;
  position: relative;
  padding-bottom: 8px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav__container .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__container .site-nav__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  bottom: -8px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .site-nav__container .site-nav__link.current::after {
    bottom: 0;
  }
}

.site-nav__container .site-nav__item:not(:first-child) {
  margin-left: 50px;
}

@media screen and (max-width: 767px) {
  .auth-nav__container {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .auth-nav__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.auth-nav__container .auth-nav {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .auth-nav__container .auth-nav {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.auth-nav__container .auth-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-nav__container .auth-nav__item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .auth-nav__container .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__container .auth-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.auth-nav__container .auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__container .auth-nav__link:hover,
.auth-nav__container .auth-nav__link:focus {
  color: #2196F3;
}

.auth-nav__container .auth-nav__link:hover .auth-nav__icon,
.auth-nav__container .auth-nav__link:hover .auth-nav__icon,
.auth-nav__container .auth-nav__link:focus .auth-nav__icon,
.auth-nav__container .auth-nav__link:focus .auth-nav__icon {
  fill: #2196F3;
}

.auth-nav__container .auth-nav__icon {
  width: 10px;
  height: 16px;
  margin: 0px 10px 0px 0px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__container .mail-icon {
  width: 16px;
  height: 12px;
}

.hero {
  text-align: center;
  background-color: #2F303A;
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__container {
  /*height: 600px;*/
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-opim.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-opim.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    margin: 0;
  }
}

.features__item {
  /*width: 270px;*/
  width: 100%;
  /*margin-bottom: 30px;*/
}

@media screen and (min-width: 768px) {
  .features__item {
    display: block;
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__item::before {
  content: "";
  display: block;
  background-color: #F5F4FA;
  border-radius: 4px;
  width: 100%;
  height: 120px;
}

.features .antenna::before {
  background-image: url(../images/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features .clock::before {
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features .diagram::before {
  background-image: url(../images/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features .astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features__title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
  color: #212121;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__description {
  margin: 0;
}

.work {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-self: center;
}

.work__item {
  position: relative;
  width: 370px;
  height: 294px;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__title {
  text-align: center;
  margin-bottom: 50px;
}

.work__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    margin: 0;
  }
}

.team__item {
  background: #ffffff;
  padding-bottom: 24px;
  /*height: 428px;*/
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    display: block;
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__img {
  display: block;
  width: 100%;
  background-size: cover;
}

.team__member-name {
  padding: 0;
  margin: 30px 0px 10px 0px;
  text-align: center;
  color: #212121;
  font-weight: 500;
}

.team__member-position {
  padding: 0;
  margin: 0px 0px 16px 0px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

@media screen and (max-width: 1199px) {
  .client__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .client__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .client__item {
    height: 90px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .client__item {
    height: 90px;
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: 170px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196F3;
}

.client__icon {
  height: 50px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .footer__logo {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer .footer__logo {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .footer__container:not(:last-child) {
    margin-bottom: 60px;
  }
}

.footer__address {
  color: #ffffff;
}

.footer__address__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__address__item .mail {
  color: rgba(255, 255, 255, 0.6);
}

.footer__address__item .tel {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer .footer-social__container {
    margin-left: 165px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-social__container {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-social__container .social__container__label {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer .footer-email__container {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-email__container {
    margin-top: 0px;
  }
}

.footer .email {
  padding: 0;
  /*margin-top: 12px;
        margin-left: auto;*/
}

@media screen and (min-width: 1200px) {
  .footer .email__form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.footer .email__form-field .email__form-field-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer .email__form-field .email__form-field-email {
    margin-right: 12px;
  }
}

.footer .email__form-field .email__form-field-email input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .email__form-field .email__form-field-email input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .email__form-field .email__form-field-email input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .email__form-field .email__form-field-email input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .email__label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}

@media screen and (min-width: 1200px) {
  .footer .email__label {
    text-align: left;
  }
}

.footer .email__input {
  width: 100%;
  margin: 0;
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2F303A;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer .email__input {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer .email__input {
    width: 358px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.modal-form__close-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
}

.modal-form__close-icon .close-icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-form__close-icon .close-icon__link:hover .close-icon,
.modal-form__close-icon .close-icon__link:focus .close-icon {
  fill: #2196F3;
}

.modal-form__close-icon .close-icon__link .close-icon {
  width: 11px;
  height: 11px;
  fill: #000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__list {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
}

.modal-form__item-title {
  margin-bottom: 30px;
}

.modal-form__title {
  margin: 0px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.modal-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.modal-form__item:nth-child(-n + 4) {
  margin-bottom: 28px;
}

.modal-form__label {
  position: relative;
  display: block;
}

.modal-form__label .modal-form__label-text,
.modal-form__label .modal-form__label-comment {
  position: absolute;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: inline-block;
  top: 0px;
  left: 0px;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.modal-form__input {
  margin: 0;
  padding: 14px 15px 14px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal-form__input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    width: 448px;
  }
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: #2196F3;
  outline-color: #2196F3;
  outline-width: 0px;
}

.form-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-name {
  width: 12px;
  height: 12px;
}

.form-icon-phone {
  width: 13px;
  height: 13px;
}

.form-icon-mail {
  width: 15px;
  height: 12px;
}

.modal-form__input:focus + .form-icon,
.modal-form__input:hover + .form-icon {
  fill: #2196F3;
}

.modal-form__item-comment {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.modal-form__item-comment .comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .modal-form__item-comment .comment {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__item-comment .comment {
    width: 448px;
  }
}

.modal-form__item-comment .comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__item-comment .comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__item-comment .comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__item-comment .comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-item-checkbox {
  position: relative;
  padding-left: 12px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .modal-item-checkbox {
    padding-left: 0px;
  }
}

.modal-label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-check-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.modal-check-input:checked + .modal-check-box,
.modal-check-input:focus + .modal-check-box {
  background-image: url(../images/check.svg);
  background-color: #2196F3;
  border-radius: 2px;
  fill: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-check-box {
  display: block;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  background-image: url(../images/box.svg);
  background-position: center;
}

.modal-check-agreement {
  display: block;
  margin-left: 8px;
}

.modal-agreement {
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .modal-agreement {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-agreement-link {
  color: #2196F3;
}

.modal-item-button {
  text-align: center;
}

.modal-item-button .modal-button {
  width: 200px;
  height: 50px;
}
/*# sourceMappingURL=main.css.map */