.logo {
    color: $title-text-color;
    padding-top: 16px;
    padding-bottom: 16px;

    &,
    &-footer,
    &-web {
        font-family: "Raleway", sans-serif;
        /*@include font(26px, 1.2, 700);*/
        @include font(24px, 1.71, 700);
            
    }

    &-web {
        color: $accent-color;    
    }

    &-footer {
        display: inline-block;
        color: $withe-color;
    }

}