$primary-text-color: #757575;
$title-text-color: #212121;
$second-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196F3;
$withe-color: #ffffff;
$bgc-dark-grey: #2F303A;
$bgc-light-grey: #F5F4FA; 
