.footer {
    background-color: $bgc-dark-grey;
    text-align: center;

    .footer__main {
        @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        @media screen and (min-width:1200px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .footer__logo {
        margin-bottom: 20px;        
    }

    &__container:not(:last-child) { 
        @media screen  and (max-width:767px) {
            margin-bottom: 60px;
        } 
    }
    
    &__address {
        color: $withe-color; 
    }

    &__address__item:not(:last-child) {  
        margin-bottom: 8px;          
    }

    &__address__item {
             
        .mail {
            color: $second-text-color;   
        }
        
        .tel {            
            color: $second-text-color;  
        }      
    }
    
    .footer-social__container {
        @media screen and (min-width:768px) {
            margin-left: 165px;
            margin-top: 5px;
        }
        @media screen and (min-width:1200px) {
            margin-left: 0px;
        }
   
    }
    
    .footer-email__container {
        @media screen and (min-width:768px) {
            margin-top: 60px;
        }
        @media screen and (max-width:1199px) {
            margin-top: 60px;
        }

    }

    .email {            
        padding: 0;
        /*margin-top: 12px;
        margin-left: auto;*/
    
        &__form-field {
            @media screen and (min-width:1200px) {
                display: flex;
                align-items: flex-end;
            }
    
            .email__form-field-email {
                display: flex;
                flex-direction: column;

                @media screen and (min-width:1200px) {
                    margin-right: 12px;
                }
    
                & input::placeholder {
                    font-size: 16px;
                    line-height: 1.25;
                    letter-spacing: 0.03em;
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
        &__label {
            font-weight: 700;
            line-height: 1.14;
            text-transform: uppercase;
            color: $withe-color;
            margin: 0px 0px 20px 0px;
            @media screen and (min-width:1200px) {
                text-align: left;
            }
        }
          
        &__input {
            width: 100%;
            @media screen and (min-width:768px) {
                width: 450px;
                margin-left: auto;
                margin-right: auto;
            }
            @media screen and (min-width:1200px) {
                width: 358px;
                margin-left: auto;
                margin-right: auto;
            }

            margin: 0;
            padding: 15px 0px 15px 16px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-sizing: border-box;
            background-color: $bgc-dark-grey;
            border-radius: 4px;
            color: rgba(255, 255, 255, 0.6);  
        }        
    }
}